body {
    background-color: var(--body);
    color: var(--text);
    font-family: Luciole, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    overflow-x: hidden
}

a {
    color: inherit;
    text-decoration: none;
    outline: 0
}

iframe {
    border: 0;
}

.content {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 62px);
    top: 62px;
    overflow: scroll;
}

/* --- Link --- */
.link {
    border-bottom: 0px solid #0000;
    transition: all .2s;
    cursor: pointer;
}

.link:hover {
    border-bottom: 2px solid var(--text);
    transition: all .2s;
}

.link_blue {
    color: var(--blue-primary);
    border-bottom: 0px solid #0000;
    transition: all .2s;
    cursor: pointer;
}

.link_blue:hover {
    border-bottom: 2px solid var(--blue-primary);
    transition: all .2s;
}

.link_white {
    color: #fff;
    border-bottom: 0px solid #fff0;
    transition: all .2s;
    cursor: pointer;
}

.link_white:hover {
    border-bottom: 2px solid #fff;
    transition: all .2s;
}

.link_dark {
    color: #000;
    border-bottom: 0px solid #0000;
    transition: all .2s;
    cursor: pointer;
}

.link_dark:hover {
    border-bottom: 2px solid #000;
    transition: all .2s;
}

/* --- SVG --- */

.svg {
    filter: var(--svg-filter);
}

.reverse-svg {
    filter: var(--svg-filter-invert)
}

.svg_white {
    filter: invert(100%) sepia(93%) saturate(27%) hue-rotate(39deg) brightness(107%) contrast(107%)
}

.svg_black {
    filter: invert(0) sepia(8%) saturate(0) hue-rotate(83deg) brightness(96%) contrast(106%)
}

h1,
h2,
h3,
h4 {
    margin-bottom: 10px;
    margin-top: 10px
}


/* --- Fluent --- */

.acrylic {
    color: var(--acrylic-text);
    background-color: transparent;
    backdrop-filter: blur(10px);

    position: relative;
    overflow: hidden;
}

.acrylic.form {
    border-radius: .5rem;
    width: 290px;
    height: calc(100% - 2rem);
    padding: 2rem;
}

.acrylic::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.35;
    border: 1px solid var(--body);
    background: var(--body);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

.over-acrylic {
    border-radius: 5px;
    background-color: var(--img-hover);
}

/* --- Modal --- */

.modal-back {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.8);
    backdrop-filter: blur(2px);
    z-index: 5;
}

.modal {
    border-radius: 15px;
    bottom: 0;
    display: block;
    height: calc(100vh - 40px);
    left: 0;
    margin: auto;
    max-height: 450px;
    max-width: 500px;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100vw - 40px);
    z-index: 100;
    background-color: var(--el-back-secondary);
}

.mini-modal {
    display: block;
    position: relative;

    top: 25vh;
    left: 0;
    right: 0;
    bottom: 0;

    width: calc(100vw - 40px);
    max-width: 500px;
    height: calc(100vh - 40px);
    max-height: 200px;

    margin: auto;
    padding: 20px;

    background-color: var(--el-back-secondary);
    border-radius: 10px;
}

.small-modal {
    display: block;
    position: relative;

    top: 25vh;
    left: 0;
    right: 0;
    bottom: 0;

    width: calc(100vw - 40px);
    max-width: 500px;
    height: calc(100vh - 40px);
    max-height: 300px;

    margin: auto;
    padding: 20px;

    background-color: var(--el-back-secondary);
    border-radius: 10px;
}

.modal>*,
.small-modal>*,
.mini-modal>* {
    animation: 0.5s ease 0s 1 normal none running SettingsOptions;
}

.modal .footer,
.mini-modal .footer,
.small-modal .footer {
    position: absolute;
    width: 93%;
    bottom: 15px;
    display: flex;
    justify-content: space-between;
    background-color: var(--el-back-secondary);
    z-index: 2;
}

.modal .scrollable {
    position: initial;
    overflow-y: scroll;
    max-height: calc(100% - 100px);
}

/* --- Block --- */
.box {
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

div.green,
div.blue,
div.orange,
div.red,
div.grey,
div.transparent {
    border-radius: 5px;
    margin: 10px;
    padding: 10px;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

div.green img,
div.blue img,
div.orange img,
div.red img,
div.grey img,
div.transparent {
    max-width: 30px;
}

div.green {
    background-color: var(--green-back);
    border: 2px solid var(--green-primary);
    color: var(--green-primary);
}

div.blue {
    background-color: var(--blue-back);
    border: 2px solid var(--blue-primary);
    color: var(--blue-primary);
}

div.orange {
    background-color: var(--orange-back);
    border: 2px solid var(--orange-primary);
    color: var(--orange-primary);
}

div.red {
    background-color: var(--red-back);
    border: 2px solid var(--red-primary);
    color: var(--red-primary);
}

div.transparent {
    background-color: transparent;
    border: 2px solid transparent;
    color: var(--text);
}

.pill.green,
.pill.blue,
.pill.orange,
.pill.red,
.pill.grey {
    border-radius: 50px;
    margin: 5px;
    padding: 10px;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.pill.green img,
.pill.blue img,
.pill.orange img,
.pill.red img,
.pill.grey img {
    max-width: 30px;
}

.pill.green {
    background-color: var(--green-primary);
}

.pill.blue {
    background-color: var(--blue-primary);
}

.pill.orange {
    background-color: var(--orange-primary);
}

.pill.red {
    background-color: var(--red-primary);
}

.doc {
    max-width: 800px;
    margin: auto;
}

.m-0 {
    margin: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mr-1 {
    margin-right: 0.25rem !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.ml-1 {
    margin-left: 0.25rem !important;
}

.mx-1 {
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
}

.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.mx-2 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.m-3 {
    margin: 0.75rem !important;
}

.mt-3 {
    margin-top: 0.75rem !important;
}

.mr-3 {
    margin-right: 0.75rem !important;
}

.mb-3 {
    margin-bottom: 0.75rem !important;
}

.ml-3 {
    margin-left: 0.75rem !important;
}

.mx-3 {
    margin-left: 0.75rem !important;
    margin-right: 0.75rem !important;
}

.my-3 {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
}

.m-4 {
    margin: 1rem !important;
}

.mt-4 {
    margin-top: 1rem !important;
}

.mr-4 {
    margin-right: 1rem !important;
}

.mb-4 {
    margin-bottom: 1rem !important;
}

.ml-4 {
    margin-left: 1rem !important;
}

.mx-4 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.my-4 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.m-5 {
    margin: 1.5rem !important;
}

.mt-5 {
    margin-top: 1.5rem !important;
}

.mr-5 {
    margin-right: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 1.5rem !important;
}

.ml-5 {
    margin-left: 1.5rem !important;
}

.mx-5 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}

.my-5 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.m-6 {
    margin: 3rem !important;
}

.mt-6 {
    margin-top: 3rem !important;
}

.mr-6 {
    margin-right: 3rem !important;
}

.mb-6 {
    margin-bottom: 3rem !important;
}

.ml-6 {
    margin-left: 3rem !important;
}

.mx-6 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

.my-6 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.m-auto {
    margin: auto !important;
}

.mt-auto {
    margin-top: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.p-0 {
    padding: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.p-1 {
    padding: 0.25rem !important;
}

.pt-1 {
    padding-top: 0.25rem !important;
}

.pr-1 {
    padding-right: 0.25rem !important;
}

.pb-1 {
    padding-bottom: 0.25rem !important;
}

.pl-1 {
    padding-left: 0.25rem !important;
}

.px-1 {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
}

.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.pr-2 {
    padding-right: 0.5rem !important;
}

.pb-2 {
    padding-bottom: 0.5rem !important;
}

.pl-2 {
    padding-left: 0.5rem !important;
}

.px-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.p-3 {
    padding: 0.75rem !important;
}

.pt-3 {
    padding-top: 0.75rem !important;
}

.pr-3 {
    padding-right: 0.75rem !important;
}

.pb-3 {
    padding-bottom: 0.75rem !important;
}

.pl-3 {
    padding-left: 0.75rem !important;
}

.px-3 {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}

.py-3 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}

.p-4 {
    padding: 1rem !important;
}

.pt-4 {
    padding-top: 1rem !important;
}

.pr-4 {
    padding-right: 1rem !important;
}

.pb-4 {
    padding-bottom: 1rem !important;
}

.pl-4 {
    padding-left: 1rem !important;
}

.px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.p-5 {
    padding: 1.5rem !important;
}

.pt-5 {
    padding-top: 1.5rem !important;
}

.pr-5 {
    padding-right: 1.5rem !important;
}

.pb-5 {
    padding-bottom: 1.5rem !important;
}

.pl-5 {
    padding-left: 1.5rem !important;
}

.px-5 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.py-5 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.p-6 {
    padding: 3rem !important;
}

.pt-6 {
    padding-top: 3rem !important;
}

.pr-6 {
    padding-right: 3rem !important;
}

.pb-6 {
    padding-bottom: 3rem !important;
}

.pl-6 {
    padding-left: 3rem !important;
}

.px-6 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.py-6 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.p-auto {
    padding: auto !important;
}

.pt-auto {
    padding-top: auto !important;
}

.pr-auto {
    padding-right: auto !important;
}

.pb-auto {
    padding-bottom: auto !important;
}

.pl-auto {
    padding-left: auto !important;
}

.px-auto {
    padding-left: auto !important;
    padding-right: auto !important;
}

.py-auto {
    padding-top: auto !important;
    padding-bottom: auto !important;
}

/* ---------------------------------------------------------------- */

.left {
    text-align: left !important;
}

.center {
    text-align: center !important;
}

.right {
    text-align: right !important;
}

.justify {
    text-align: justify !important;
}

/* ---------------------------------------------------------------- */
.is-white {
    color: #fff !important;
}

.id-dark {
    color: #000 !important;
}

/* --- Atribute --- */
/* Position */

.is-static {
    position: static !important;
}

.is-relative {
    position: relative !important;
}

.is-absolute {
    position: absolute !important;
}

.is-fixed {
    position: fixed !important;
}

.is-sticky {
    position: sticky !important;
}

/* Display */
.is-block {
    display: block !important;
}

.is-inline {
    display: inline !important;
}

.is-table {
    display: table !important;
}

.is-flex {
    display: flex !important;
}

.is-grid {
    display: grid !important;
}

.is-inline-block {
    display: inline-block !important;
}

.is-inline-table {
    display: inline-table !important;
}

.is-inline-flex {
    display: inline-flex !important;
}

.is-inline-grid {
    display: inline-grid !important;
}

.is-flex-wrap {
    flex-wrap: wrap !important;
}

/* --- Flex --- */
.is-flex-direction-row {
    flex-direction: row !important
}

.is-flex-direction-row-reverse {
    flex-direction: row-reverse !important
}

.is-flex-direction-column {
    flex-direction: column !important
}

.is-flex-direction-column-reverse {
    flex-direction: column-reverse !important
}

.is-align-items-stretch {
    align-items: stretch !important
}

.is-align-items-flex-start {
    align-items: flex-start !important
}

.is-align-items-flex-end {
    align-items: flex-end !important
}

.is-align-items-center {
    align-items: center !important
}

.is-align-items-baseline {
    align-items: baseline !important
}

.is-align-items-start {
    align-items: start !important
}

.is-align-items-end {
    align-items: end !important
}

.is-align-items-self-start {
    align-items: self-start !important
}

.is-align-items-self-end {
    align-items: self-end !important
}

.is-align-self-auto {
    align-self: auto !important
}

.is-align-self-flex-start {
    align-self: flex-start !important
}

.is-align-self-flex-end {
    align-self: flex-end !important
}

.is-align-self-center {
    align-self: center !important
}

.is-align-self-baseline {
    align-self: baseline !important
}

.is-align-self-stretch {
    align-self: stretch !important
}


.is-pointer {
    cursor: pointer !important;
}

.is-grab {
    cursor: grab !important;
}

.space-between {
    justify-content: space-between !important
}

.space-around {
    justify-content: space-around !important
}


/* --- */

.card {
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 980px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    height: 500px;
    box-shadow: 0 0 .7px #00000005, 0 0 1.6px #00000007, 0 0 3px #00000009, 0 0 5.4px #0000000b, 0 0 10px #0000000d, 0 0 24px #00000012;
}

@media (prefers-color-scheme: dark) {
    .wallpaper {
        background: url("/img/back_dark.png") center center / cover;
    }

    .logo {
        background: url("/img/logo_dark.png") center center / cover;
    }
}

@media (prefers-color-scheme: light) {
    .wallpaper {
        background: url("/img/back.png") center center / cover;
    }

    .logo {
        background: url("/img/logo.png") center center / cover;
    }
}

.logo {
    height: 70px;
    width: 165px;
}

.toggle-control input:checked~.control {
    background-color: var(--blue-high);
}

.toggle-control .control {
    background-color: var(--el-back-secondary);
}

.toggle-control .control:after {
    background: #fff;
}

.checkbok-container input:checked~.checkmark {
    background-color: var(--blue-high);
}

@media (prefers-color-scheme: dark) {
    .error .error {
        background-color: #8b260e;
        color: #fad9d1;
    }
    .success .success {
        background-color: #188b0e;
        color: #c4ffbf;
    }
}

@media (prefers-color-scheme: light) {
    .error .error {
        background-color: #d32929;
        color: #fff;
    }
    .success .success {
        background-color: #37d329;
        color: #fff;
    }
}

.error:has(.error), .success:has(.success) {
    box-shadow: 0 0 .7px #00000005,0 0 1.6px #00000007,0 0 3px #00000009,0 0 5.4px #0000000b,0 0 10px #0000000d,0 0 24px #00000012;
}

.error .error, .success .success {
    border-radius: 5px;
    padding: 10px;
}

.code {
    border-radius: 5px;
    padding: 10px;
    text-align: left;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    background-color: #262626;
    color: white;
}