<!DOCTYPE html>
<html lang="fr">

<head>
    <title>APPFE | Admin</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#4f474e">
    <meta name="color-scheme" content="dark light">
    <meta name="description" content="APPFE">
    <meta name="keywords" content="APPFE">
    <meta name="author" content="Lowa">
    <script src="{{ asset('css/index.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <h1 class="title is-1" style="text-align: center;">Tableau de bord</h1>
    <nav class="navbar is-fixed-top is-centered">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                ADMIN
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Gérer les idées
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Voir les idées
                    </a>
                    <a class="navbar-item">
                        Modifier les idées
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Gérer les profils
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Voir les profils
                    </a>
                    <a class="navbar-item">
                        Modifier les profils
                    </a>
                </div>
            </div>
        </div>
    </nav>
</body>